* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.header_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(actualite-news-info-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

header {
    display: flex;
    justify-content: center;


}

.top_header {
    display: flex;
    justify-content: space-evenly;
    gap: 400px;
    background-color: rgba(49, 49, 49, 0.8);
    padding: 25px;
}

.top_header_left {
    display: flex;
    gap: 20px;
}

.left_header {
    padding: 20px 80px !important;
    background-color: rgba(49, 49, 49, 0.8);
}

.botom_header {
    background-color: #fcfcfdb8;
    padding: 30px;
}

.botom_header_left {
    display: flex;
    gap: 20px;
}

.orange_link {
    color: #ff7800;
}

.bleu_link {
    color: #40c3d6;
}

.gren_link {
    color: #b2bd00;
}

.color {
    font-weight: bold;
}

.header-paragraph {
    padding: 35px;
    background-color: #48afbdbf;
    width: 50%;
    margin-left: 200px;
    margin-bottom: 0;
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.acceil_link {
    color: #b1b5b6;
    font-size: 15px;
}

.section1 {
    display: block;
    padding: 20px;
    padding-left: 200px;

}

span {
    color: #108b45;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
    display: flex;
    padding: 20px;
    padding-left: 200px;
}

.nav_link_1 {
    color: black;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.nav_link_2 {
    color: #0058a2;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.nav_link_2:hover {
    background-color: #f4f4f4;
    color: black;
    border-radius: 5px;
}

section {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.nav_zoom {
    display: flex;
    justify-content: end;
}

.section-logo {
    padding: 10px;

}

.header-logo {
    width: 150px;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.section-link {
    font-size: 17px;
    color: #4b4f58;
    display: flex;

}

.section-link:hover {
    color: #ff1a3f;


}

.button {
    padding: 10px 30px;
    background-color: #000;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.section2 {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    color: #ff1a3f;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.paragraph-section {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Search {
    position: relative;
    background-color: white;
    padding: 10px 100px;
    border: 1px solid #dddddd;
    background-color: #f8f9fa;
}

svg {
    position: absolute;
    left: 715px;
    bottom: 15px;
}

.input-search {
    position: relative;
}

.section3 {
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column;
    position: relative;

}

.section3-links {
    font-size: 15px;
}

.links {
    columns: 220px;
    padding: 70px 15px;
}

#footer-section-global {
    text-align: center;
    color: white;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-global {
    height: 100vh;
    overflow: auto;
}

.footer {
    background-color: #313131;
}

.footer-continaire {
    display: flex;
    flex-direction: column;

}

.footer-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;


}

h3 {
    font-size: 18px;
    font-family: "Helvetica";
    text-transform: uppercase;
    color: white;
    margin-bottom: 15px;
    text-align: center;



}

form {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;

}

h2 {
    color: #ff7800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    display: flex;
    align-items: center;
}

.forms-input {
    width: 550px;
    height: 45px;
}

.forms-input:focus {
    outline: 2px solid #0058a2;
}

.forms-sabmit {
    padding-left: 70px;
    padding-right: 70px;
    height: 45px;
    color: white;
    font-size: 20px;
    font-family: "Helvetica";
    background-color: #0059a1;
    font-weight: bold;
    border: none;
}

.forms-sabmit:hover {
    background-color: #313131;
    border: 2px solid #0059a1;
    color: #0058a2;
}

::placeholder {
    color: #bcbcbc;
    font-style: italic;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 60px;
    margin-bottom: 60px !important;
    margin: auto;
    border-left: 3px solid #626262;
    border-right: 3px solid #626262;

}

.main-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

li {
    list-style: none;
    position: relative;
    transition: all 0.2s ease-in-out;
}

li:hover {
    text-decoration: underline white;
    transform: translateX(10px);

}

li::before {
    content: '*';
    position: absolute;
    left: -15px;
    top: 7px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

ul {

    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
    list-style-type: disc;
}

.liste-link {
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.875;
}

.card-continaire {
    width: 70%;
}

.card-continaire h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;
    text-align: start;
}

.orange {
    color: #ff7800;
}

.bleu {
    color: #40c3d5;
}

.yellow {
    color: #b2bd00;
}

.social-list {
    width: 100%;
    margin-top: 14px;
    display: flex;
    justify-content: center;
    gap: 15px;
    transition: all 0.5s ease-in-out;

}

.social-list img:hover {
    transform: translateY(-3px);

}

.footer-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

}

.footer-link {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;

}

.footer-link a {
    position: relative;
}

.footer-link a:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -15px;
}

.footer-footer span {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
}

.social-list-fixed {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: fixed;
    left: 0;
    bottom: 100px;
}

.social-list-fixed img{
    width: 40px;
}
.social-list-fixed img:hover{
    width: 43px;
}

main>span {
    display: flex;
    color: white;
    background-color: #008245;
    font-size: 15px;
    width: 140px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    left: 0;
    bottom: 330px;

}

main>span img {
    width: 30px;
    height: 40px;

}

main>span a:hover {
    text-decoration: underline;
}

.section3>img {
    position: sticky;
    left: 90%;
    bottom: 30px;
    float: right;
    width: 60px;
    height: 60px;
    background-color: #40c351;
    border-radius: 50px;
    padding: 10px;
}

.section3>img:hover {
    transform: scale(1.2);
}